body {
    background-color: #fff;
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
}

#masthead {
    padding: 0.5em;
}

#masthead h2 {
    padding: 0;
    margin: 0;
}

#masthead h2 a {
    /*color: #fbfbff;*/
    text-decoration:none;
    color: #5c2680;
}

#content {
    max-width:800px;
    padding: 1em;
    background-color: #fff;
    padding-top: 0em;
    padding-right: 3%;
    padding-bottom: 50px;
    color: #113;
    margin-left: auto;
    margin-right: auto;
}

#content h1, #content h2 {
    color: #5c2680;
}

#content p, #content ul {
 line-height: 1.6em;
}

#content ul li {
    margin-bottom: .2em;
}

blockquote {
    background-color: #5c2680;
    padding: 0.1em 0.7em 0.1em 0.7em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #fff;
}

blockquote a {
    color: #fff;
    text-decoration: underline;
}

#top-menu ul {
    background-color: #5c2680;
    padding: 5px 4px 5px 4px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}

#top-menu ul li {
    display:inline;
    padding: 2px 10px 2px 4px;
    border-color: #aaa;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
}

#top-menu ul li:last-child {
    border-style: none;
}

#top-menu ul li a {
    color: #fff;
    text-decoration: none;
}

.sidebar {
    width:295px;
    background-color: #5c2680;
    color: #fff;
    float:right;
    padding: 0.1em 0.8em 0.1em 0.8em;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-left: 1em;
    font-size: 90%;
}

#content .sidebar h1 {
    color: #fff;
    font-size: 1.4em;
}

.sidebar a {
    color:#fff;
}

.sidebar ul {
    padding-left: 18px;
}

#footer {
    margin-left: 8%;
    margin-right: 8%;
    border-top: 1px solid #368;
    font-style: italic;
    color: #5c2680;
}
