 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/static/css/default.css" type="text/css" />
</head>

<body>
<div id="masthead">
<h2><a href="/">Norwich Bicycle Repair Co-operative Ltd</a></h2>
    <div id="top-menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/dr-bike-uea/">Dr Bike @ UEA</a></li>
            <li><a href="/jobs/">Jobs</a></li>
            <li><a href="/about-us/">About us</a></li>
            <li><a href="/downloads/">Downloads</a></li>
            
        </ul>
    </div>
</div>

<div id="content">

{{ content }}
<!--
<h4>This site is under construction</h4>

<p>Norwich Bicycle Repair Co-operative Ltd are the contract holders for the UEA Dr Bike service since January 13th 2014. We are a not-for-profit business which aims to promote cycling and offer cycle repairs that are affordable and accessible - we only recommend repairs if they are necessary and will always endeavour to explain your repair to you.</p>

<p>We can be found from Monday to Friday, 8.30am - 4.30pm at the Dr Bike Cycle Repair Centre, behind Congregation Hall, UEA, NR4 7TJ (<a href="https://mapsengine.google.com/map/edit?mid=zvjpVdsj1xrw.kvj8wIJ7CTVk">see map</a>). We are shut on Bank Holidays and for key holiday periods (<a href="/holiday-dates.html">check dates here</a>)</p>

<p>If you are looking to get your bike repaired it is best to arrive early - we have same-day repair slots opening up at 8.30am each day and these are allocated on a first-come first-served basis. Staff and Students can can also pre-book for a free health and safety check.</p>

<p>We also offer:</p>
<ul>
<li>Free advice</li>
<li>Free oil</li>
<li>Free minor adjustments</li>
<li>Free to use cycle pump</li>
<li>Sale of a wide range of cycling essentials including lights, locks, pumps and puncture repair products, cleaners and lubricants, tyres, tubes, tools, parts, baskets, carriers and a range of other accessories</li>
<li>Refurbished and guaranteed bikes for sale</li>
</ul>

<p>For more information email enquiries[at]norwichbicyclerepaircoop.co.uk or call 07903 553 286.</p>

<p>You can follow NBRC and Dr Bike at UEA on Facebook:</p>

<p><a href="http://www.facebook.com/norwichbicycle">Norwich Bicycle Repair Co-operative</a></p>

<p><a href="http://www.facebook.com/drbikeatuea">Dr Bike at UEA</a></p>

<p>We are registered in England, as a fully mutual worker co-operative, company limited by guarantee No. 8789116. VAT number 177 7424 72</p>
-->

</div>

<div id="footer">
<p>Norwich Bicycle Repair Co-operative Ltd is a fully mutual workers' co-op 
registered as a Company Ltd by Guarantee in England and Wales, registration number No. 8789116.   
Registered address: 74 Irstead Rd, Norwich, NR5 8AR
VAT number 177 7424 72</p>
</div>

</body>
</html>

